.landing-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: #121212;
  justify-content: space-around;
}

.divider {
  padding: 0px;
  margin: 0px;
  border-top: 1px solid rgb(97, 97, 97);
}

.framework {
  width: 100vw;
  text-align: center;
}

#leaflet:hover {
  background: rgba(195, 227, 121, 0.8);
}

#ol:hover {
  background: rgba(114, 195, 210, 0.8);
}

#mapbox:hover {
  background: rgba(70, 104, 242, 0.8);
}

a {
  flex: 1;
}

img {
  position: relative;
  top: 25%;
}
