.leaflet {
  height: 50vh;
  width: 100vw;
  text-align: center;
}

.leaflet:hover {
  background: rgba(195, 227, 121, 0.8);
}

.ol {
  height: 50vh;
  width: 100vw;
  text-align: center;
}

.ol:hover {
  background: rgba(114, 195, 210, 0.8);
}

img {
  top: 25%;
  position: relative;
}
